
$primary-color : #9356DC;
$secondary-color : #FF79DA;
$tertiary-color : #99E2D0;
$background-color: #fff;
$footer-color: rgb(40,40,40);
$contrast-color: darken($background-color, 4%);

//menu card animation variables
$num-cards: 9;
$anim-dur: 800ms;
$anim-delay: $anim-dur / $num-cards;


//set text color based on background color you provide the function
@function set-text-color($color) {
    @if (lightness($color) > 60%) {
      @return #000;
    } @else {
      @return #fff;
    }
  }


  @mixin standard-box-shadow ($size:6px, $blur:10px) {
    box-shadow: rgba(110, 110, 110, 0.24) 0 $size $blur;
  }

  @mixin background-linear-gradient ($direction: to bottom right){
    background: linear-gradient($direction, $secondary-color, $primary-color 90%);
  }

  @mixin color-linear-gradient ($direction: to bottom right){
    color: linear-gradient($direction, $secondary-color, $primary-color 90%);
  }

  @mixin button-link($padding: 18px 30px) {
    &--button {
        @include background-linear-gradient(to bottom right);
        border-radius: 42px;
        border-width: 0;
        @include standard-box-shadow;
        color: set-text-color($primary-color);
        cursor: pointer;
        font-size: 18px;
        padding: $padding;
        text-align: center;
        text-decoration: none;
        position: relative;
        z-index: 1;

        &:hover {
            
            &::before {
                opacity: 0.4;
                @include standard-box-shadow(10px 6px);
            }
        }

        &::before {
            content: "";
            position: absolute;
            top: 0;
            right: 0;
            bottom: 0;
            left: 0;
            background-color: darken($primary-color, 1);
            opacity: 0;
            z-index: -1;
            transition: opacity 250ms;
            border-radius: 42px;
        }
    }
  }

@mixin card-fade-in-anim {
  animation: cards $anim-dur backwards;

        @for $i from 1 through $num-cards {
            &--#{$i} {
                animation-delay: $anim-delay * $i;
            }
        }

        @keyframes cards {
            0% { 
                transform: translateY(1.5rem);
                opacity: 0;
            }  
            100% { 
                transform: scaleY(1.0);
            }
        }
        .menu-section__card--1 {
            animation-delay: 100ms;
        }
        .menu-section__card--2 {
            animation-delay: 200ms;
        }
        .menu-section__card--3 {
            animation-delay: 300ms;
        }
        .menu-section__card--4 {
            animation-delay: 400ms;
        }
        .menu-section__card--5 {
            animation-delay: 500ms;
        }
        .menu-section__card--6 {
            animation-delay: 600ms;
        }
        .menu-section__card--7 {
            animation-delay: 700ms;
        }
        .menu-section__card--8 {
            animation-delay: 800ms;
        }
        .menu-section__card--9 {
            animation-delay: 900ms;
        }
}
  