
$primary-color : #9356DC;
$secondary-color : #FF79DA;
$tertiary-color : #99E2D0;
$background-color: #fff;
$footer-color: rgb(40,40,40);

//set text color based on background color you provide the function
@function set-text-color($color) {
    @if (lightness($color) > 60%) {
      @return #000;
    } @else {
      @return #fff;
    }
  }