
$primary-color : #9356DC;
$secondary-color : #FF79DA;
$tertiary-color : #99E2D0;
$background-color: #fff;
$footer-color: rgb(40,40,40);
$contrast-color: darken($background-color, 4%);

//set text color based on background color you provide the function
@function set-text-color($color) {
    @if (lightness($color) > 60%) {
      @return #000;
    } @else {
      @return #fff;
    }
  }

  @mixin standard-box-shadow {
    box-shadow: rgba(57, 31, 91, 0.24) 0 6px 10px;
  }

  @mixin background-linear-gradient ($direction: to bottom right){
    background: linear-gradient($direction, $secondary-color, $primary-color 90%);
  }

  @mixin color-linear-gradient ($direction: to bottom right){
    color: linear-gradient($direction, $secondary-color, $primary-color 90%);
  }