.user-location {
    background: darken($background-color, 8%);
    display: flex;
    align-items: center;
    justify-content: center;
    margin: 0;
    

    &__icon {
        padding-right: 1rem;
    }
}

.app-desc {
    background: $contrast-color;
    padding: 2.5rem;
    text-align: center;

    &__title {
        margin: 0;
    }

    &__text {
        padding: 1.5rem 0;
        font-weight: 200;
        font-size: 1.2rem;

    }

   
   
    &__button {
    @include background-linear-gradient(to bottom right);
    border-radius: 42px;
    border-width: 0;
    @include standard-box-shadow;
    color: set-text-color($primary-color);
    cursor: pointer;
    font-size: 18px;
    padding: 18px 30px;
    text-align: center;
    text-decoration: none;
    }

}


.how-it-works {
    display: flex;
    flex-direction: column;
    align-items: center;
    padding: 2rem 0;
    

    &__title {
        margin-right: auto;
        padding-left: 2rem;
    }

    &__cards {
        display: flex;
        background: $contrast-color;
        align-items: center;
        justify-content: center;
        width: 20rem;
        margin-bottom: 25px;
        padding: 0.7rem;
        border-radius: 25px;
        @include standard-box-shadow;
        // max-width: 90%;
    }

    &__step-number {
        background: $primary-color;
        border-radius: 50%;
        width: 20px;
        height: 20px;
        display: flex;
        justify-content: center;
        align-items: center;
        position: relative;
        right: 45px;
        color: set-text-color($primary-color);
        padding: 4px;
    }

    &__icon {
        position: relative;
        right: 32px;
        font-size: 1.3rem;
        color: rgb(111, 111, 111);
    }

    &__text {
        width: 14rem;
        font-size: 1.1rem;
        position: relative;
        right: 15px;

    }
}

.colored {
    background: lighten($primary-color, 35%);
}

.colored i {
    color: $primary-color;
}

.restaurants {
    background: $contrast-color;
    text-align: center;
    padding: 2rem 0;
    display: flex;
    flex-direction: column;
    align-items: center;

    &__title {
        margin-right: auto;
        padding-left: 2rem;
    }
}

.restaurant-card {
    @include standard-box-shadow;
    width: 22rem;
    height: 17rem;
    margin-bottom: 40px;
    border-radius: 20px;
    background: $background-color;
    

    &__image {
        width: 100%;
        height: 70%;
        object-fit: cover;
        border-radius: 20px 20px 0 0;

        &--new-overlay {
            background: $tertiary-color;
            color: darken($tertiary-color, 37%);
            position: relative;
            bottom: 177px;
            left: 114px;
            padding: 0.5rem 2rem;
            font-size: 14px;

            &-none {
                @extend .restaurant-card__image--new-overlay;
                opacity: 0;
            }
        }
    }

    &__content {
        display: flex;
        justify-content: space-between;
    }
    
    
    &__favorite-icon {
        cursor: pointer;
        width: 3rem;
        right: 15px;
        border-radius: 1rem;
        background-color: $background-color;
        position: relative;
        z-index: 1;
        border-width: 1px;
        &:hover {
            border-color: rgba(255, 255, 255, 0);
            &::after {
                opacity: 1;
            }
        }
    
        &::after {
            content: "";
            position: absolute;
            top: 0;
            right: 0;
            bottom: 0;
            left: 0;
            @include background-linear-gradient(to top right);
            opacity: 0;
            z-index: -1;
            transition: opacity 250ms;
            border-radius: 1rem;
            
        }
        
    }

    &__name {
        margin: 0;
        padding-left: 1rem;
    }

    &__city {
        margin: 0;
        text-align: start;
        padding-left: 1rem;
        font-weight: 300;
    }
}



.heart-container {
   position: relative;
   width: 40px;
   height: 40px;

   right: 15px;
   &:hover > .heart-stroke {
    fill: none;
   }
}

.heart-clip {
   display: block;
   width: 100%;
   height: 100%;
   position: relative;
   overflow: hidden;
   clip-path: url(#svgPath);

   &:hover {

      &::before {
         transform: scale(1);
         opacity: 1;
      }
   }
   &::before {
      content: "";
      display: block;
      width: 100%;
      height: 100%;
      border-radius: 50%;
      @include background-linear-gradient(to top right);
      opacity: 0;
      transform: scale(0);
      transition: transform 0.2s linear, opacity 0.2s linear;
      transform-origin: center 60%;
   }
   
}

.heart-stroke {
   width: 100%;
   height: 100%;
   position: absolute;
   top: 0;
   left: 0;
   fill: black;

//    fill: none; /* Change fill to none if you want to remove the fill */
   stroke: rgb(255, 255, 255); /* Specify the color of the border */
   stroke-width: 0.1px; /* Adjust the border width as needed */

   
}




    
  