

.header {

    &__back-button {
        position: relative;
        right: 155px;
        top: 31px;
        font-size: 1.5rem;
    }

}

.background-image {
    &__image {
        width: 100%;
    }
}

.menu-section {
    background: darken($background-color, 5%);
    position: relative;
    bottom: 40px;
    margin-bottom: -3rem;
    padding: 1rem;
    border-radius: 37px 37px 0 0;

    &__header {
        display: flex;
        justify-content: space-between;

        &--restaurant-name {
            padding-left: 1rem;
        }

        &--favorite-icon {
            padding-right: 1rem;
        }
    }

    &__course {
        padding: 0;
        margin-bottom: 2.5rem;

        &-title {
            font-weight: 300;
            font-size: 1.1rem;
            position: relative;
            padding-bottom: 0.5rem;

            &::after {
                content: '';
                width: 3rem;
                border-bottom: solid 3px $tertiary-color;
                position: absolute;
                left: 0;
                top: 25px;
                z-index: 1;
            }
        }
    }

    &__card {
        background: $background-color;
        padding: 1rem 1rem;
        margin-bottom: 1rem;
        border-radius: 11px;
        height: 2.8rem;
        @include standard-box-shadow;
        @include card-fade-in-anim;
        text-overflow: ellipsis;
        overflow: hidden;

        &:hover {
            .menu-section__card--dish-added {
                animation: favoriteAdded 1s forwards; 
            } 

            .menu-section__card--dish-added-icon {
                animation: rotateIcon 1s forwards;
            }
        }

        &:not(:hover) {
            .menu-section__card--dish-added {
                animation: reverseFavoriteAdded 0.2s linear forwards; 
            } 
        
            .menu-section__card--dish-added-icon {
                animation: reverseRotateIcon 0.2s linear forwards;
            }
        }

        
        &--dish-added {
            width: 0;
            height: 100%;
            background: $tertiary-color;
            margin-left: 1rem;
            transform: translateX(1rem);
            display: flex;
            justify-content: center;
            align-items: center;

            &-icon {
                padding: 3rem 0;
                position: relative;
                bottom: 10px;
                font-size: 2rem;
                color: set-text-color($primary-color);
            }
        }

        @keyframes favoriteAdded {
            0% { width: 0; }
            100% { width: 5rem;}
            }

        @keyframes rotateIcon {
            100% { transform: rotate(360deg);}
            }

            @keyframes reverseFavoriteAdded {
                0% { width: 5rem; }
                100% { width: 0;}
            }
            
            @keyframes reverseRotateIcon {
                100% { transform: rotate(0deg);}
            }

        &--dish {
            margin: 0;
            font-size: 1.2rem;
            font-weight: 500;
            padding-bottom: 0.3rem;
        }

        &-desc-price {
            display: flex;
            justify-content: space-between;
            align-items: center;
            height: 1rem;

            &-check {
                display: flex;
            }

            &--desc {
                font-weight: 200;
                margin:0;
                width: 17.5rem;
                white-space: nowrap;
                text-overflow: ellipsis;
                overflow: hidden;
            }

            &--price {
                margin:0;
                font-weight: 500;
                align-self: center;
            }
            



        }
    }

}

.button {
    text-align: center;
    margin: 3.5rem 0;
}
.button-link {
    @include button-link($padding: 16px 77px);
    
}

