@import 'config.scss';
@import 'home.scss';


body {

    font-family: "Roboto", sans-serif;
    color: set-text-color($background-color);
    
}

a {
    text-decoration: none;
    color: set-text-color($footer-color);
}


.header {
    padding: 1rem 1rem;
    text-align: center;
    box-shadow: darken($background-color, 30%) 0px 1px 5px;
    
    position: relative;

    &__logo {
        font-size: 2.5rem;
        color: set-text-color($background-color);
    }
}

.title {
    font-family: "Shrikhand", serif;
}

.footer {
    background: $footer-color;
    padding: 1.5rem 1.5rem;

    &__logo {
        color: set-text-color($footer-color);
        font-size: 1rem;
        margin-bottom: 1rem;
    }

    .links {
        display: flex;
        flex-direction: column;

        &__link {
            margin-bottom: 0.6rem;
            font-size: 0.9rem;
        }

        .suggestion__icon {
            margin-right: 0.6rem;
        }

        .partner__icon {
            margin-right: 0.3rem;
        }
    }
}